<table mat-table class="mat-elevation-z8" [dataSource]="highscoreObservable">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Pos.</th>
    <td mat-cell *matCellDef="let i = index "> {{i + 1}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let highscore"> {{highscore.name}} </td>
  </ng-container>
  <ng-container matColumnDef="matchesPlayed">
    <th mat-header-cell *matHeaderCellDef> Anzahl Spiele</th>
    <td mat-cell *matCellDef="let highscore"> {{highscore.matchesPlayed}} </td>
  </ng-container>
  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef> Punkte</th>
    <td mat-cell *matCellDef="let highscore"> {{highscore.points}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
