<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <span>Tenniskönig</span>
    <button mat-button>Spieler erstellen</button>
    <button mat-button (click)="routeMatchentry()">Spiel erstellen</button>
    <button mat-button (click)="routeHighscore()">Bestenliste</button>
    <button mat-button (click)="routeMatchhistory()">Matchverlauf</button>
    <button mat-button>Regeln</button>
    <button mat-button (click)="routeLogin()">Login</button>
  </mat-toolbar-row>
</mat-toolbar>
