<mat-card class="mat-elevation-z8" id="rules">
  <mat-card-header>
    <mat-card-title>Regeln</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Du machst mit einem der Kinder/Jugendlichen vom TCO einen Spieltermin aus.</li>
      <li>NEU: Egal wie alt du bist es werden 2 Gewinnsätze bis 4 mit deinem Gegner gespielt.</li>
      <li>Der 3. Satz wird als Match-Tiebreak bis 10 gespielt.</li>
      <li>Für jedes gespielte Match gibt es <em>5 Punkte</em>.</li>
      <li>Für jedes gewonnene Match gibt es zusätzlich <i>4 Punkte</i>.</li>
      <li>Du kannst gegen Mädchen und Jungs spielen.</li>
      <li>Mädchen bekommen bei einem Spiel gegen Jungs automatisch <em>2 Punkte</em>.</li>
      <li>Du kannst auch mit einem Erwachsenen spielen und dabei Punkte Sammeln. Für eine Viertelstunde Tennisspielen
        mit einem Erwachsenen gibt es <em>2 Punkte</em> (max. <em>8 Punkte</em> pro Termin).
      </li>
      <li>Pro gespieltes Doppel gibt es <em>10 Punkte</em>.</li>
      <li>Pro Woche kannst Du maximal 2 Matches gegen ein und denselben Gegner bestreiten um Punkte zu sammeln.</li>
      <li>Die Ergebnisse müssen Ergebnisse müssen in der Website vermerkt werden. Den aktuellen Stand der Rangfolge
        könnt online einsehen.
      </li>
      <li>Wer Spiele einträgt, die gar nicht stattgefunden haben, wird mit Punktabzug (min. <em>40 Punkte</em>) bestraft.
      </li>
      <li><strong>Fair</strong> geht vor !!!</li>
    </ul>
  </mat-card-content>
</mat-card>
