<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <!--  Fehler meldung wenn Anmeldung fehlschlägt -->
  <mat-card-content>
    <mat-card class="error" *ngIf="showError">
      <mat-card-header>
        <mat-card-title>Ungültige Anmeldedaten</mat-card-title>
        <span class="spacer"></span>
        <button mat-icon-button (click)="hideError()"><mat-icon>clear</mat-icon></button>
      </mat-card-header>
      <mat-card-content><span>Bitte gib eine gültige Kombination aus Nutzername und Passwort an!</span></mat-card-content>
    </mat-card>
    <!--  Anmeldeformular -->
    <form [formGroup]="loginform">
      <mat-form-field color="accent">
        <input matInput type="text" placeholder="Nutzername" formControlName="username" id="username">
        <mat-error *ngIf="this.loginform.controls.username.hasError('pattern')">
          Bitte gib einen gültigen Nutzernamen in der Form <strong>Vorname.Nachname</strong> an
        </mat-error>
        <mat-error *ngIf="this.loginform.controls.username.hasError('required')">
          Bitte gib einen gültigen Nutzernamen an
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput type="password" placeholder="Passwort" formControlName="password" id="password">
        <mat-error *ngIf="this.loginform.controls.password.hasError('required')">
          Bitte gib dein Passwort an
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="login()" id="submit">Login</button>
  </mat-card-actions>
</mat-card>

<app-register></app-register>
