@import '~@angular/material/theming';
@include mat-core();

// TCO yellow color palette
$md-tco-yellow: (
  50 : #fffbf0,
  100 : #fef5d8,
  200 : #fdeebf,
  300 : #fce7a5,
  400 : #fce191,
  500 : #fbdc7e,
  600 : #fad876,
  700 : #fad36b,
  800 : #f9ce61,
  900 : #f8c54e,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff9ed,
  A700 : #fff1d4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// TCO Colors
$tco-primary: mat-palette($mat-grey, 600);
$tco-accent:  mat-palette($mat-yellow, A400);
$tco-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tco-theme: mat-light-theme($tco-primary, $tco-accent, $tco-warn);

@include angular-material-theme($tco-theme);
